{% extends 'base.html.twig' %}

{% block nom_collab %}
    Nouveau collaborateur
{% endblock %}

{%  block body %}

    {{form(form)}}
    <a href="{{ path('new-collab') }}">Ajouter un collaborateur</a>
    <a href="{{ path('index') }}">Accueil</a>

{% endblock %}